@use "../../palette.scss";
@use "../../variables";

.inventory {
  
  // items meaning medicals & ammos
  &-items {
    position: absolute;
    top: 5px;
    right: 5px;
  
    display: flex;
    flex-direction: column-reverse;
    gap: 8px;

    &-card {
      display: flex;
      align-items: center;
  
      background-color: rgba(0, 0, 0, 0.30);
      opacity: 0.35;
      padding: 6px;
  
      // when you pick something, we should display this item available
      &.has-item {
        opacity: 1;
      }
    
      .item-count {
        font-size: 14px;
        color: white;
        
        @media screen and (max-width: variables.$screen_medium) {
          font-size: 10px;
        }
      }
    }

    &-medicals {
      display: flex;
      flex-direction: column;
      align-items: end;
      gap: 6px;
      height: fit-content;

      &-card {
        gap: 24px;

        .item-image {
          width: 28px;
          height: 28px;
            
          @media screen and (max-width: variables.$screen_medium) {
            width: 20px;
            height: 20px;
          }
        }
  
        @media screen and (max-width: variables.$screen_medium) {
          gap: 6px;
        }
      }

      @media screen and (max-width: variables.$screen_medium) {
        flex-direction: row;
      }

      @media screen and (max-width: variables.$screen_xsmall) {
        flex-direction: column;
      }
    }
  
    &-ammos {
      display: flex;
      gap: 6px;
  
      &-card {
        flex-direction: column;
  
        // instead wrapper using flex and gap to space items
        &:not(:first-child) {
          margin-top: 6px;
        }

        .item-image {
          width: 28px;
          height: 28px;
            
          @media screen and (max-width: variables.$screen_medium) {
            width: 16px;
            height: 16px;
          }
        }

        @media screen and (max-width: variables.$screen_medium) {
          flex-direction: row;
          gap: 6px;
        }
      }
    }

    @media screen and (max-width: variables.$screen_medium) {
      flex-direction: row;
    }

    @media screen and (max-width: variables.$screen_xsmall) {
      flex-direction: column-reverse;
    }
  }

  &-weapons {
    position: absolute;
    right: 5px;
    bottom: 5px;

    display: flex;
    gap: 6px;
    flex-direction: column;

    &-container {
      display: flex;
      justify-content: space-between;
      gap: 48px;

      padding: 6px;
      min-height: 56px;

      opacity: 0.35;
      border-radius: 6px;
      
      &.has-item {
        background: linear-gradient(90deg, #c4c4c473 25%, #17171780);
        outline: 2px solid #c4c4c473;
      }

      &.active {
        opacity: 1;
      }
      
      .item-image {
        width: 48px;
        height: 48px;

        @media screen and (max-width: variables.$screen_medium) {
          width: 28px;
          height: 28px;
        }
      }

      &-slot {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        flex: 1;
        gap: 8px;

        &-container {
          display: flex;
          align-items: center;
          gap: 6px;

          .item-ammo {
            display: none;
            width: 24px;
            height: 24px;

            &[src] {
              display: block;
            }
          }

          @media screen and (max-width: variables.$screen_medium) {
            display: none;
          }
        }

        .item-name {
          font-size: 12px;
          font-weight: bold;

          @media screen and (max-width: variables.$screen_medium) {
            font-size: 10px;
          }
        }
      }

      @media screen and (max-width: variables.$screen_medium) {
        align-items: center;
        min-height: 40px;
        gap: 28px;
      }
    }

    @media screen and (max-width: variables.$screen_medium) {
      bottom: calc(50px + 5px); // 5px meaning offset
    }

    @media screen and (max-width: variables.$screen_xsmall) {
      bottom: calc(190px + 5px); // 5px meaning offset
    }
  }
}