@use "../../palette.scss";
@use "../../variables";

.inventory {
  // items meaning medicals & ammos
  &-items {
    position: absolute;
    inset: 0 0 auto auto;
    padding: 6px;

    // this make joystick can work, because width items don't hide it
    width: 0px;
    height: 100%;

    display: flex;
    justify-content: start;
    flex-direction: column;
    gap: 8px;

    @media screen and (max-width: variables.$screen_xsmall) {
      gap: 4px;
      height: auto;
    }

    &-card {
      display: flex;
      align-items: center;

      background-color: rgba(0, 0, 0, 0.35);
      opacity: 0.35;
      padding: 6px;
      border-radius: 6px;

      @media screen and (max-width: variables.$screen_medium) {
        padding: 4px;
        border-radius: 4px;
        gap: 4px;
      }

      // when you pick something, we should display this item available
      &.has-item {
        opacity: 1;
      }

      .item-count {
        font-size: 14px;
        font-weight: 500;
        @include variables.text-shadow;
        color: white;

        @media screen and (max-width: variables.$screen_medium) {
          font-size: 10px;
        }
      }
    }

    &-group {
      display: flex;
      flex-direction: column;
      gap: 6px;

      @media screen and (max-width: variables.$screen_medium) {
        flex-direction: row-reverse;
        gap: 4px;
      }

      @media screen and (max-width: variables.$screen_xsmall) {
        flex-direction: column;
        gap: 4px;
      }
    }

    &-medicals {
      display: flex;
      flex-direction: column;
      align-items: end;
      gap: 6px;
      height: fit-content;

      &-card {
        position: relative;
        gap: 24px;

        .item-image {
          width: 28px;
          height: 28px;

          @media screen and (max-width: variables.$screen_medium) {
            width: 16px;
            height: 16px;
            gap: 4px;
          }
        }

        .item-tooltip {
          position: absolute;
          transform: translateX(-100%);
          left: -14px;

          background-color: palette.$transparent_bg;
          @include variables.text-shadow;

          padding: 4px 16px;
          border-radius: 5px;
          transition: opacity 150ms linear;

          opacity: 0;
          text-align: center;
          font-size: 14px;

          pointer-events: none;

          @media screen and (max-width: variables.$screen_medium) {
            transform: translateY(100%);
            bottom: -14px;
            font-size: 12px;
          }

          @media screen and (max-width: variables.$screen_xsmall) {
            transform: translateX(-100%);
            left: -14px;
          }
        }

        @media screen and (min-width: variables.$screen_medium) {
          &:hover .item-tooltip {
            opacity: 1;
          }
        }

        @media screen and (max-width: variables.$screen_medium) {
          &:active .item-tooltip {
            opacity: 1;
          }

          gap: 4px;
        }
      }

      @media screen and (max-width: variables.$screen_medium) {
        flex-direction: row;
      }

      @media screen and (max-width: variables.$screen_xsmall) {
        flex-direction: column;
        gap: 4px;
      }
    }

    &-ammos {
      display: flex;
      justify-content: end;
      gap: 6px;

      @media screen and (max-width: variables.$screen_medium) {
        gap: 4px;
      }

      &-container {
        display: flex;
        flex-direction: column;
        gap: 4px;

        @media screen and (max-width: variables.$screen_medium) {
          flex-direction: column;
          gap: 4px;
        }
      }
      &-card {
        display: flex;
        flex-direction: column;
        gap: 4px;

        // instead wrapper using flex and gap to space items
        // &:not(:first-child) {
        //   margin-top: 6px;
        // }

        .item-image {
          width: 28px;
          height: 28px;

          @media screen and (max-width: variables.$screen_medium) {
            width: 16px;
            height: 16px;
          }
        }

        @media screen and (max-width: variables.$screen_medium) {
          flex-direction: row;
          gap: 4px;
        }
      }
    }

    &-weapons {
      display: flex;
      // flex: 1;
      gap: 6px;
      width: fit-content;
      align-self: end;

      flex-direction: column;
      justify-content: end;
      align-items: end;

      position: absolute;
      bottom: 5px;
      right: 5px;

      @media screen and (max-width: variables.$screen_medium) {
        position: relative;
        bottom: 0;
        right: 0;
      }

      &-container {
        display: flex;
        padding: 6px;
        height: 56px;
        width: 140px;

        position: relative;
        opacity: 0.35;
        border-radius: 6px;

        background: linear-gradient(90deg, #c4c4c473 25%, #17171780);
        outline: 2px solid #c4c4c473;

        @media screen and (max-width: variables.$screen_medium) {
          align-items: center;

          width: 64px;
          height: 34px;
        }

        &.active {
          opacity: 1;
          animation: 0.25s ease-in-out active-pulse;

          @keyframes active-pulse {
            0% {
              width: 100%;
            }
            50% {
              width: calc(100% + 2rem);
              outline-width: 4px;
            }
            100% {
              width: 100%;
            }
          }
        }

        .item-image {
          position: absolute;
          left: 6px;

          width: 48px;
          height: 48px;

          @media screen and (max-width: variables.$screen_medium) {
            width: 36px;
            height: 36px;
          }

          @media screen and (max-width: variables.$screen_medium) {
            width: 24px;
            height: 24px;
          }
        }

        .item-name {
          // why relative?, because item-image maybe "font" position
          position: relative;
          font-size: 12px;
          font-weight: bold;

          @media screen and (max-width: variables.$screen_medium) {
            font-size: 9px;
          }
        }

        .item-ammo {
          display: none;
          width: 24px;
          height: 24px;

          &[src] {
            display: block;
          }
        }

        &-slot {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          flex: 1;
          gap: 8px;

          &-container {
            display: flex;
            align-items: center;
            gap: 6px;

            @media screen and (max-width: variables.$screen_medium) {
              display: none;
            }
          }
        }
      }

      @media screen and (max-width: variables.$screen_medium) {
        justify-content: start;
      }
    }
  }
}
