@use "sass:color";
@use "../utils/tabs.scss";
@use "../palette.scss";
@use "../variables";

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#settings-menu,
#report-modal,
#warning-modal {
  background-color: palette.$bg;
  max-width: 500px;
}

// Weapon tabs
.weapon-tab {
  margin-bottom: 8px;
  gap: 4px;
}

.weapon-tab-child {
  flex: 1;
  padding: 8px 0;
  background: #222;
  color: #fff;
  border: none;
  cursor: pointer;
  font-weight: bold;
  border-bottom: 2px solid transparent;
}

.weapon-tab-child.active {
  background: #333;
  border-bottom: 2px solid #ffd700;
}

.weapon-list {
  display: flex;
  flex-wrap: wrap;
  // gap: 12px;
  height: 340px;
  overflow: hidden;
  overflow-y: auto;

  @include variables.mobile-device {
    gap: 8px;
    max-height: 235px;
  }
}

.weapons-container-card.inactive {
  opacity: 0.4;
  // pointer-events: none;
}

.weapons-container-card.selected {
  border: 2px solid #ffd700;
}

.weapons-container {
  overflow-y: unset;
}

.modal-alert {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  top: 72px;
  right: 24px;
  z-index: 9999;
}

.modal-success {
  @include variables.modal-basic;
  background: #5b8939;
  transition: opacity 300ms ease-out;

  &-body {
    display: flex;
    align-items: baseline;
    gap: 8px;
  }

  h3,
  p {
    margin: 0;
  }

  i {
    font-size: 18px;
    cursor: pointer;
  }

  .close-popup {
    align-self: baseline;
  }
}

.modal-warning {
  @include variables.modal-basic;
  background: #f2770f;
  transition: opacity 300ms ease-out;

  &-body {
    display: flex;
    align-items: baseline;
    gap: 8px;
  }

  h3,
  p {
    margin: 0;
  }

  i {
    align-items: baseline;
    font-size: 18px;
    cursor: pointer;
  }

  .close-popup {
    align-self: baseline;
  }
}

.modal-error {
  @include variables.modal-basic;
  background: #d03947;
  transition: opacity 300ms ease-out;

  &-body {
    display: flex;
    align-items: baseline;
    gap: 8px;
  }

  h3,
  p {
    margin: 0;
  }

  i {
    align-items: baseline;
    font-size: 18px;
    cursor: pointer;
  }

  .close-popup {
    align-self: baseline;
  }
}

#warning-modal {
  text-align: center;
  border: 2.5px solid rgba(0, 0, 0, 0.3);
  text-shadow: 2px 2px 0 black;

  #warning-modal-title {
    color: rgb(236, 57, 57);
    text-align: center;
    margin-top: 0;
  }

  .case-id {
    font-size: 20px;
    margin-bottom: 10px;
  }
}

#reporting-name {
  margin-left: 5px;
}

#report-modal-content,
#warning-modal-content {
  padding: 1rem;

  p {
    margin-top: 13px;
    margin-bottom: -5px;
  }

  h4 {
    margin-bottom: 10px;
  }

  ol {
    margin-top: 0;
  }
}

#report-id-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

#report-id {
  font-size: 50px;
  font-family: monospace;
}

#customize-menu {
  background-color: #4c722f;
  max-width: 920px;
  // max-width: 850px;
}

#create-team-menu {
  width: fit-content;
  max-width: 370px;
  display: flex;
  flex-direction: column;
  padding: 18px;
  gap: 12px;

  .dialog-header {
    display: flex;
    flex-direction: column;
    gap: 2px;

    &-group {
      p {
        width: fit-content;
        font-size: 18px;
        font-weight: 600;
        margin: unset;
        @include variables.text-shadow;
      }

      img {
        position: absolute;
        width: 24px;
        right: 16px;
        top: 14px;
        cursor: pointer;
        transition: 300ms;

        &:hover {
          opacity: 0.65;
        }
      }
    }

    .note-title {
      font-size: 12px;
      font-weight: 600;
      color: palette.$lime;
      margin: unset;
      @include variables.text-shadow;
      text-align: left;
    }
  }

  #create-team-container {
    display: flex;
    flex-direction: column;
    gap: 16px;

    #create-team-players {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 8px;

      .create-team-player-container {
        box-sizing: border-box;
        background-color: palette.$light_transparent_bg;
        border-radius: 10px;
        padding: 16px;
        border: 1.5px solid palette.$light_transparent_bg;

        position: relative;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4px;

        // leader indicator
        .fa-crown {
          position: absolute;
          font-size: 24px;
          top: 8px;
          left: 8px;
          color: palette.$lime;
          text-shadow: 0px 0px 5px rgba(255, 170, 0, 1);
        }

        // ready indicator
        .fa-circle-check {
          position: absolute;
          font-size: 20px;
          color: limegreen;
          top: 6px;
          left: 6px;
        }

        .fa-circle-xmark {
          position: absolute;
          font-size: 20px;
          color: rgba(250, 250, 250, 0.5);
          top: 6px;
          right: 6px;
          transition: 300ms;
          cursor: pointer;

          &:hover {
            opacity: 0.65;
          }
        }

        .skin {
          position: relative;
          width: 69px;
          height: 60px;

          .skin-base {
            position: relative;
            top: 0;
            left: 6px;
            width: 56px;
            height: 56px;
            transform: rotate(90deg);
            background-size: 56px;
          }

          .skin-left-fist,
          .skin-right-fist {
            position: absolute;
            top: 40px;
            width: 20px;
            height: 20px;
            transform: rotate(90deg);
            background-size: 20px;
          }

          .skin-right-fist {
            left: 48px;
          }
        }

        .create-team-player-name-container {
          display: flex;
          justify-content: center;
          margin: 10px 5px 0 5px;

          .create-team-player-name {
            font-size: 16px;
            font-weight: 600;
            @include variables.text-shadow;
          }

          .create-team-player-badge {
            display: inline-block;
            height: 20px;
            margin-left: 5px;
          }
        }
      }

      // Adjustments when there are 5 or more players
      &:has(> .create-team-player-container:nth-child(5)) {
        grid-template-columns: repeat(4, 1fr);

        .create-team-player-container {
          padding: 10px;

          // leader indicator
          .fa-crown {
            font-size: 18px;
            top: 6px;
            left: 6px;
          }

          // ready indicator
          .fa-circle-check {
            font-size: 16px;
            top: 4px;
            left: 4px;
          }

          .fa-circle-xmark {
            font-size: 16px;
            top: 4px;
            right: 4px;
          }

          .skin {
            width: 50px;
            height: 43px;

            .skin-base {
              left: 4px;
              width: 40px;
              height: 40px;
              background-size: 40px;
            }

            .skin-left-fist,
            .skin-right-fist {
              top: 29px;
              width: 14px;
              height: 14px;
              background-size: 14px;
            }

            .skin-right-fist {
              left: 34px;
            }
          }

          .create-team-player-name-container {
            margin: 6px 3px 0 3px;

            .create-team-player-name {
              font-size: 13px;
            }

            .create-team-player-badge {
              height: 16px;
              margin-left: 3px;
            }
          }
        }
      }
    }

    #create-team-url {
      display: flex;
      justify-content: center;

      #create-team-url-field {
        color: black;
        user-select: all;
        font-size: 16px;
        width: 350px;
        padding: 4px 8px;
        outline: none;
        border: none;
        border-bottom: 2px solid rgb(209, 207, 207);
        box-shadow: inset 0 -2px rgb(209, 207, 207);
      }

      #btn-copy-team-url {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }

      #btn-hide-team-url {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        width: 4rem;
      }
    }

    #create-team-options {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      gap: 16px;

      #create-team-toggles {
        display: flex;
        justify-content: space-between;
        width: 100%;

        &.disabled {
          // pointer-events: none;
          // filter: brightness(80%);
          display: none;
        }

        label {
          display: flex;
          justify-content: center;
          align-items: center;

          i {
            font-size: 16px;
          }

          span {
            margin-right: 8px;
            font-size: 16px;
            font-weight: 600;
          }

          input {
            font-family: monospace;
            margin: auto;
            outline: none;
          }
        }
      }

      #btn-action-section {
        width: 100%;
        display: flex;
        gap: 8px;

        button {
          width: 100%;
        }
      }
    }
  }
}

#language-dropdown {
  position: absolute;
  right: 20px;
  top: 1rem;
  z-index: 10;

  img {
    vertical-align: middle;
  }

  #btn-language {
    width: 200px;
    height: 40px;
    display: flex;
    gap: 1rem;
    position: fixed;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0;
    left: 0;
  }

  .dropdown-content {
    background: palette.$grey;
    top: 34px;
    overflow-x: none;
    overflow-y: scroll;
    height: 600px;

    a {
      cursor: pointer;
      text-align: center;
      display: inline-block;
    }

    .selected {
      background-color: palette.$orange;
      pointer-events: none;
    }
  }

  // For mobile
  @media screen and (max-width: variables.$screen_large) {
    transform: scale(55%);
    top: 0;
    right: -20px;

    .dropdown-content {
      height: 300px;
    }

    @media screen and (max-height: variables.$screen_large) {
      right: -40px;
    }
  }
}

// TODO Refactor this, make classes
.dialog {
  user-select: none;
  box-shadow: 0 0 10px #000000c8;
  padding: 0 !important;
  border-radius: 10px !important;
  overflow: hidden;
  z-index: 101;

  .skin.inactive {
    filter: saturate(0.15) brightness(0.65);
    cursor: not-allowed;
  }

  .skin.active {
    filter: none;
    opacity: 1;
    cursor: pointer;
  }

  .dialog-header {
    $headerHeight: 45px;
    display: flex;
    height: $headerHeight;
    align-items: center;

    h3 {
      margin-left: 15px;
      display: flex;
      @include variables.text-shadow;
    }

    .dialog-close-btn {
      margin-left: auto;
      text-align: center;
      line-height: $headerHeight;
      width: $headerHeight;
      height: $headerHeight;
      cursor: pointer;
    }
  }

  #settings-tabs-container,
  #customize-tabs-container {
    display: flex;
  }

  #skins-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;

    .skins-list-item-container {
      padding: 4px;
      border: 5px solid transparent;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 12px;
      cursor: pointer;

      &.selected {
        border-color: palette.$orange;
      }
    }

    .skin-tier-background {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 130px;
      height: 130px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 130px;

      .skin {
        position: relative;
        width: 102px;
        height: 98px;

        .skin-base {
          position: relative;
          top: 0;
          left: 6px;
          width: 90px;
          height: 90px;
          transform: rotate(90deg);
        }

        .skin-left-fist,
        .skin-right-fist {
          position: absolute;
          top: 64px;
          width: 34px;
          height: 34px;
          transform: rotate(90deg);
        }

        .skin-right-fist {
          left: 68px;
        }
      }
    }

    .skin-name {
      font-weight: bold;
      @include variables.text-shadow;
      text-align: center;
    }
  }

  // Market link
  .market-link {
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
  }

  #crates-tab {
    @media screen and (max-width: variables.$screen_xsmall) {
      display: flex;
      overflow: hidden;
      overflow-x: auto;
      width: fit-content;
      gap: 4px;
    }
  }

  // Crate styles
  .crates-tab-child,
  .weapon-tab-child {
    padding: 8px 12px;
    font-size: 14px;
    font-weight: 500;
    background-color: #50722f;
    color: white;
    border-radius: 8px;
    border: none;
    cursor: pointer;

    @media screen and (max-width: variables.$screen_xsmall) {
      padding: 8px 10px;
    }

    &.active {
      box-shadow: inset 0px 0px 0px 2px palette.$orange;
    }
  }

  .crates-customize-child {
    position: relative;
    display: flex;
    gap: 8px;
    margin-top: 12px;

    p {
      margin: 0px;
    }

    width: 100%;

    .crates-card {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      position: relative;
      gap: 8px;
      padding: 40px 12px 12px 12px;
      border-radius: 10px;
      background: #73a246;

      .total-supply {
        position: absolute;
        display: flex;
        justify-content: space-between;
        align-items: center;
        top: 10px;
        width: 90%;
        text-shadow: 1px 1px 2px palette.$transparent_bg;

        .pile-container {
          width: 200px;
          height: 20px;
          background-color: rgba(0, 0, 0, 0.1);
          border-radius: 15px;
          overflow: hidden;
          position: relative;
        }

        .pile-bar {
          height: 100%;
          background-color: palette.$lime;
          position: absolute;
          left: 0;
          top: 0;
          transition: width 0.3s ease;
        }

        .pile-text {
          position: absolute;
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          text-shadow: none;
          font-weight: 500;
          font-size: 12px;
          z-index: 1;

          span {
            font-weight: 600;
          }
        }
      }

      .crates-image {
        border-radius: 12px;
        width: 90px;
        height: 90px;

        @include variables.mobile-device {
          width: 64px;
          height: 64px;
        }
      }

      .crates-information {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2px;

        .balance-placeholder {
          font-size: 12px;
          padding: 4px 8px;
          background-color: rgba(0, 0, 0, 0.2);
          border-radius: 10px;
          margin-bottom: 8px;
        }

        p {
          margin: unset;
          color: white;
          font-size: 14px;
          font-weight: 500;
        }

        h3 {
          margin: unset;
          color: white;
          font-size: 16px;
          font-weight: 700;
          text-shadow: 1px 1px 4px palette.$transparent_bg;

          @include variables.mobile-device {
            font-size: 16px;
          }
        }

        span {
          font-size: 14px;
          font-weight: 500;
          text-decoration: line-through;
          opacity: 0.65;
          text-shadow: none;
        }
      }

      .crates-supply {
        display: flex;
        gap: 4px;

        border-radius: 8px;
        overflow: hidden;

        .crates-remove,
        .crates-add {
          height: 32px;
          width: 32px;
          background: #608939;
          font-style: 14px;
          font-weight: 500;
          border: none;
          opacity: 1;
          font-size: 18px;

          &:hover {
            opacity: 0.8;
          }
        }

        .crates-input {
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;

          height: 32px;
          width: 80px;
          background: #608939;
          font-style: 14px;
          font-weight: 500;
          border: none;

          &:focus {
            outline: orange solid 1.5px;
            outline-offset: -1.5px;
          }
        }

        .crates-remove {
          opacity: 0.35;
        }

        .active {
          opacity: 1;
        }
      }

      .buy-now-btn {
        opacity: 0.35;

        @media screen and (max-width: variables.$screen_xsmall) {
          font-size: 16px;
          font-weight: 600;
        }
      }

      .active {
        opacity: 1;
      }
    }

    .learn-more {
      position: absolute;
      font-weight: 600;
      bottom: 10px;
      color: palette.$lime;
      font-size: 14px;
      bottom: -30px;
      transition: 300ms;

      &:hover {
        opacity: 0.65;
      }
    }
  }

  // My crates
  #my-crates-customize-items {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;

    p {
      font-size: 14px;
      font-weight: 500;
    }

    .crates-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      .crates-select {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4px;

        input {
          width: 18px;
          height: 18px;
          accent-color: #f2770f;

          @media screen and (max-width: variables.$screen_xsmall) {
            width: 16px;
            height: 16px;
          }
        }

        p {
          align-self: center;
          font-size: 14px;
          font-weight: 500;

          @media screen and (max-width: variables.$screen_xsmall) {
            font-size: 12px;
          }
        }
      }
    }

    .my-crates-select {
      position: fixed;
      bottom: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 16px;

      padding: 8px 8px 8px 16px;
      background-color: #50722f;
      border-radius: 10px;

      @media screen and (max-width: variables.$screen_xsmall) {
        padding: 8px 8px 8px 12px;

        gap: 10px;
      }

      h3 {
        margin: 0px;
        font-size: 16px;
        font-weight: 500;

        @media screen and (max-width: variables.$screen_xsmall) {
          font-size: 12px;
          font-weight: 600;
        }
      }

      button {
        margin-top: 0px;
        height: 36px;
        text-align: center;
        font-size: 16px;

        @media screen and (max-width: variables.$screen_xsmall) {
          font-size: 12px;
          font-weight: 600;
        }
      }

      .open-now,
      #claim-btn,
      .claim-items {
        opacity: 0.35;
      }

      #pulse-animation {
        width: 24px;
        height: 24px;
        top: -10px;
        left: -10px;
      }

      .active {
        @include variables.active;
      }
    }

    .my-crates-customize {
      display: flex;
      flex-wrap: wrap;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      gap: 16px;
      width: 100%;

      @include variables.mobile-device {
        gap: 10px;
      }

      .my-crates-child {
        display: flex;
        justify-content: center;
        align-items: center;

        overflow: hidden;
        border-radius: 10px;
        opacity: 100%;

        &.active {
          box-shadow: 0px 0px 0px 2px palette.$lime;
        }

        &.inactive {
          opacity: 0.35;
          pointer-events: none;
          cursor: not-allowed;
        }
      }

      img {
        width: 100px;
        height: 100px;

        @media screen and (max-width: variables.$screen_xsmall) {
          width: 90px;
          height: 90px;
        }
      }
    }
  }

  // Rewards style
  #rewards-customize-items {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;

    p {
      align-self: flex-start;
      font-size: 14px;
      font-weight: 500;
    }
  }

  .rewards-grid-group {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 8px;
    overflow: hidden;
    width: 100%;
    transition: 300ms;

    @media screen and (max-width: variables.$screen_xsmall) {
      display: flex;
      flex-wrap: wrap;
    }

    &:hover {
      overflow-y: auto;
    }

    .reward-child {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;

      padding: 12px;
      background-color: #73a246;
      border-radius: 14px;

      @media screen and (max-width: variables.$screen_xsmall) {
        border-radius: 8px;
      }

      img {
        width: 72px;
        height: 72px;
        border-radius: 8px;

        @media screen and (max-width: variables.$screen_xsmall) {
          width: 56px;
          height: 56px;
        }
      }

      h3 {
        margin: 0px;
        font-size: 14px;
        font-weight: 500;
        padding: 8px 12px;
        background: #608939;
        border-radius: 12px;

        @media screen and (max-width: variables.$screen_xsmall) {
          border-radius: 8px;
        }
      }

      h5 {
        margin: 0px;
        font-size: 14px;
        font-weight: 600;
        align-self: center;
        color: white;
        font-size: 14px;

        @media screen and (max-width: variables.$screen_xsmall) {
          font-size: 12px;
        }
      }
    }
  }

  .claim-all-btn {
    position: fixed;
    justify-content: center;
    align-items: center;

    bottom: 16px;
    background-color: #50722f;
    padding: 8px 12px;
    border-radius: 8px;

    #claim-btn {
      margin-top: 0;
      height: 36px;
      text-align: center;
      font-size: 16px;

      @media screen and (max-width: variables.$screen_xsmall) {
        font-weight: 600;
      }
    }
  }

  #tab-emotes-content {
    display: flex;
    gap: 10px;
    height: 100%;
  }

  #emote-wheel-container {
    @media screen and (max-width: variables.$screen_xsmall) {
      display: flex;
      gap: 8px;
    }
  }

  #emote-customize-wheel {
    position: relative;
    align-self: center;
    flex-shrink: 0;
    transform: none;

    .emote-top,
    .emote-right,
    .emote-bottom,
    .emote-left {
      cursor: pointer;
      z-index: 10;
    }
  }

  #emote-wheel-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media screen and (max-width: variables.$screen_xsmall) {
      flex-direction: column;
      gap: 8px;
    }

    .emote-win,
    .emote-death {
      display: flex;
      padding: 2px;
      width: 104px;
      height: 104px;
      background-size: 84px 84px;
      flex-shrink: 0;
      background-color: palette.$transparent_bg;
      border-radius: 10px;
      border: 5px solid transparent;
      background-repeat: no-repeat;
      background-position: center;
      cursor: pointer;

      .fa-xmark {
        color: red;
        font-size: 24px;
        position: absolute;
        margin-left: calc(104px - calc(24px + 2px + 5px));
        margin-top: calc(-2px - 1px);
      }

      &.selected {
        border-color: palette.$orange;
      }

      img {
        width: 1em;
        height: 1em;
        margin: 2px;
      }

      .remove-emote-btn {
        margin-left: auto;
        height: 1em;
        padding: 2px;
        transform-origin: center;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }

  #emotes-list {
    overflow-y: scroll;
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;

    .emote-list-header {
      font-size: 24px;
      margin-bottom: 4px;
      font-weight: bold;
      width: 100%;
      @include variables.text-shadow;
    }

    .emotes-list-item-container {
      display: flex;
      flex-direction: column;
      width: 120px;
      height: 150px;
      align-items: center;
      border: 5px solid transparent;
      border-radius: 10px;
      padding: 5px;
      background-color: palette.$transparent_bg;
      justify-content: center;

      &.selected {
        border-color: palette.$orange;
      }

      .emote-name {
        margin-top: auto;
      }
    }

    .emotes-list-item {
      margin-top: auto;
      width: 84px;
      height: 84px;
      flex-shrink: 0;
    }

    .emote-name {
      text-align: center;
      font-weight: bold;
      @include variables.text-shadow;
    }

    #emote- {
      justify-content: flex-end;
    }
  }

  #tab-crosshairs-content {
    display: flex;
    gap: 10px;
    height: 100%;
  }

  #crosshair-customize {
    display: flex;
    flex-direction: column;
  }

  #crosshair-controls {
    display: flex;
    flex-direction: column;
    width: 320px;
    position: relative;

    &.disabled {
      .modal-item {
        pointer-events: none;
        filter: blur(5px);
      }

      #crosshair-controls-disabled {
        display: block !important;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        font-size: 22px;
        @include variables.text-shadow;
      }
    }

    .modal-item {
      margin-top: 0 !important;
    }
  }

  #crosshair-preview {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
  }

  #crosshair-image {
    background-size: contain;
    background-repeat: no-repeat;
  }

  #crosshairs-list {
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: flex-start;
    align-content: flex-start;

    .crosshairs-list-item-container {
      display: flex;
      gap: 10px;
      align-items: center;
      justify-content: center;
      border: 3px solid transparent;
      border-radius: 10px;
      padding: 5px;
      background-color: palette.$transparent_bg;

      width: 100px;
      height: 100px;

      &.selected {
        border-color: palette.$orange;
      }
    }

    .crosshairs-list-item {
      height: 80px;
      width: 80px;
    }

    .crosshair-name {
      font-weight: bold;
      @include variables.text-shadow;
      text-align: center;
    }
  }

  #badges-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;

    .badges-boost-display {
      position: fixed;
      top: 6px;
      left: 55%;
      transform: translateX(-50%);
      background: rgba(0, 0, 0, 0.3);
      padding: 8px 12px;
      border-radius: 8px;
      font-size: 12px;
      color: #fff;
      width: 180px;
      text-align: center;

      span {
        font-weight: 600;
        color: palette.$lime;
      }
    }

    .badges-list-item-container {
      position: relative;
      width: 140px;
      margin: 4px;
      box-shadow: inset 0px 0px 0px 5px transparent;
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer;
      background-color: #2222223c;
      overflow: hidden;
      border-radius: 10px;

      &.selected {
        box-shadow: 0px 0px 0px 4px palette.$orange;
      }

      .badge-balance {
        position: absolute;
        top: 6px;
        left: 6px;
        background: palette.$transparent_bg;
        backdrop-filter: blur(30px);
        padding: 4px 8px;
        border-radius: 6px;
        font-size: 12px;
        font-weight: 600;
        color: #ffffff;
        z-index: 9999;
      }
    }

    .badges-list-item {
      position: relative;
      width: 140px;
      height: 140px;
      font-size: 72px;
      display: flex;
      align-items: center;
      justify-content: center;

      div {
        position: relative;
        align-items: center;
        width: 120px;
        height: 120px;
        background-size: cover;
      }
    }

    .badge-name {
      font-weight: bold;
      font-size: 14px;
      @include variables.text-shadow;
      text-align: center;
      background-color: #22222267;
      width: 100%;
      padding: 12px;

      p {
        margin: 0;
      }
    }
  }

  #weapons-list-no-gun {
    img {
      width: 94px;
      height: 94px;
      padding: 12px;
      background: #0000002b;
      border-radius: 10px;

      @media screen and (max-width: variables.$screen_xsmall) {
        width: 60px;
        height: 60px;
      }
    }
  }

  .weapons-tier-background {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 94px;
    height: 94px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 94px;

    @media screen and (max-width: variables.$screen_xsmall) {
      width: 60px;
      height: 60px;
      background-size: 60px;

      img {
        width: 48px;
        height: auto;
        /* giữ tỉ lệ ảnh */
      }
    }
  }

  .weapons-container {
    display: flex;
    gap: 8px;
    height: 100%;

    &-card {
      padding: 4px;
      border-radius: 8px;

      display: flex;
      flex-direction: column;
      gap: 6px;

      align-items: center;
      text-align: center;
      border: 3px solid transparent;

      cursor: pointer;
      height: fit-content;

      &.selected {
        border-color: #f2770f;
      }
    }

    &-paragraph {
      color: white;
      font-size: 12px;
      font-weight: bold;
      margin: unset;

      @media screen and (max-width: variables.$screen_xsmall) {
        font-size: 9px;
        font-weight: 600;
      }
    }

    // left
    &-aside {
      display: flex;
      flex-direction: column;
      gap: 10px;

      overflow-y: auto;
      flex: 1;

      &-preview {
        display: flex;
        align-items: center;
        justify-content: center;

        background: #16161626;
        border-radius: 8px;
        height: 100%;
      }

      &-assets {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 8px;

        height: 50%;
      }
    }

    // right
    &-list {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;

      align-content: flex-start;
      flex: 1;
      gap: 4px;

      @include variables.mobile-device {
        flex-direction: row;
        flex-wrap: wrap;
      }

      h2 {
        margin: unset;
        color: white;

        font-weight: 600;
        width: 100%;
        font-size: 16px;

        &:not(:first-child) {
          margin-top: 4px;
        }
      }
    }
  }

  @media screen and (max-width: 654px) {
    #emotes-list {
      gap: 5px;

      .emotes-list-item-container {
        border-width: 3px;
      }

      .emotes-list-item {
        width: 64px;
        height: 64px;
        background-size: contain;
      }
    }

    #emote-customize-wheel {
      width: 191px;
      height: 191px;
      background-size: contain;

      &>div {
        width: 56px;
        height: 56px;
        background-size: contain;
      }

      .emote-top {
        top: 9px;
        left: 67px;
      }

      .emote-right {
        right: 9px;
        top: 67px;
      }

      .emote-bottom {
        bottom: 9px;
        left: 67px;
      }

      .emote-left {
        left: 9px;
        top: 67px;
      }
    }
  }

  @media screen and (max-width: 530px) {
    #emote-customize-wheel {
      width: 165px;
      height: 165px;

      &>div {
        width: 42px;
        height: 42px;
      }

      // top: 7px; left: 51px;
      .emote-top {
        top: 0px;
        left: 80px;
      }

      .emote-right {
        right: 0px;
        top: 80px;
      }

      .emote-bottom {
        bottom: 0px;
        left: 80px;
      }

      .emote-left {
        left: 0px;
        top: 80px;
      }
    }
  }

  @media screen and (max-width: 475px) {
    #tab-emotes-content {
      flex-wrap: wrap;
      justify-content: center;
    }

    #tab-crosshairs-content {
      flex-wrap: wrap;
      justify-content: center;
    }

    #emotes-list {
      padding-bottom: 16px;
    }

    #crosshairs-list {
      padding-bottom: 16px;
    }
  }

  #settings-tabs,
  #customize-tabs {
    width: 100%;
    height: 410px;
    max-height: 80vh;
    overflow-y: auto;
  }

  #settings-tabs {
    background: palette.$transparent_bg;

    #tab-keybinds-content {
      #keybind-clear-tooltip {
        border: 2px solid gray;
        border-radius: 10px;
        padding: 7px;
        background-color: color.adjust(palette.$transparent_bg,
            $lightness: 30%);
      }

      .modal-item:not(:last-child) {
        div.settings-title {
          width: 100%;
        }

        button.btn-bind {
          width: 45%;
          margin-inline: 2.5%;
        }
      }
    }
  }

  #customize-tabs {
    background: #5b8939;
  }

  #customize-tab-bar .tab {
    @include variables.text-shadow;

    @media screen and (max-width: variables.$screen_xsmall) {
      height: 40px;
    }

    &.active {
      background: #5b8939;
    }
  }

  .tab-content {
    width: 100%;
    border-radius: 0;
  }

  .setting-title {
    margin: 0.2em;
    font-weight: bold;
    font-size: 16px;
    @include variables.text-shadow;

    i {
      color: red;
    }
  }

  .modal-item {
    &.checkbox-setting {
      line-height: 20px;
    }

    &.select-setting {
      line-height: 25px;
    }

    &:not(:first-child) {
      margin-top: 1em;
    }

    input[type="checkbox"],
    input[type="color"],
    select {
      float: right;
    }

    .range-input-value {
      @include variables.text-shadow;
      float: right;
    }
  }

  &.in-game {
    background-color: palette.$transparent_bg;
    box-shadow: none;
  }
}

.text-field {
  color: black;
  font-size: 18px;
  width: 350px;
  padding: 4px 8px;
  outline: none;
  border: none;
  border-radius: 8px;
}