@use "sass:color";
@use "../utils/tabs.scss";
@use "../palette.scss";
@use "../variables.scss";

.profile-name-display {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 12px;
    border-radius: 8px;
    background-color: #50722f;

    p {
        margin: 0;
        font-size: 14px;
        opacity: 0.7;
    }

    span {
        font-size: 14px;
        font-weight: 600;
        word-break: break-all;
        overflow-wrap: break-word;
    }
}

.profile-stats-display {
    margin-top: 8px;
    display: flex;
    gap: 8px;

    @media screen and (max-width: variables.$screen-xsmall) {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .stats-child {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 4px;
        padding: 12px;
        background-color: #73a246;
        border-radius: 8px;

        p {
            margin: 0;
            font-size: 14px;
            opacity: 0.7;
        }

        span {
            font-size: 16px;
            font-weight: 600;
        }
    }
}

.profile-nfts-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 12px;

    p {
        color: white;
        font-size: 16px;
        font-weight: 600;
        margin: 0;
    }
}

.nfts-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 12px;
    width: 100%;
}

.no-nfts-message {
    @media screen and (max-width: variables.$screen-xsmall) {
        p {
            font-size: 14px;
        }

        a {
            font-size: 14px;
        }
    }
}

.nft-item-container {
    // padding: 6px;
    border-radius: 8px;
    overflow: hidden;
}

.nft-item-container.selected {
    box-shadow: 0px 0px 0px 3px #ff7500;
}

.nft-token-id {
    display: flex;
    justify-content: center;
    font-size: 14px;
    font-weight: 600;
    padding: 6px;
    background-color: #50722f;

}

.nft-profile-image {
    width: 120px;
    height: 120px;
}