@use "../palette.scss";

.btn {
  display: block;
  position: relative;

  color: #ffffff;
  cursor: pointer;

  font-size: 20px;

  padding: 8px 15px;

  border: none;
  border-radius: 10px;

  text-decoration: none;
  text-shadow: 3px 3px 8px #00000064;
  filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.5));
}

.btn-lg {
  height: 45px;
}

// Button hover interaction
.btn-darken {
  border: none;
  transition: filter 0.25s ease;
}

.btn-icon {
  position: absolute;
  top: calc((45px - 24px) / 2);
  left: 2px;
  height: 24px;
  margin-left: 7px;
  filter: drop-shadow(3px 3px 8px #00000064);
}

.link-darken:hover,
.link-darken:active,
.btn-darken:hover,
.btn-darken:active {
  color: inherit;
  filter: brightness(80%);
}

.btn-disabled {
  filter: brightness(80%);
  pointer-events: none;
  user-select: none;
}

// Regular buttons
.btn-primary {
  background: palette.$blue;
  border-bottom: 2px solid palette.$blue_bg;
  box-shadow: inset 0 -2px palette.$blue_bg;
}

.btn-secondary {
  background: palette.$grey;
  border-bottom: 2px solid palette.$grey_bg;
  box-shadow: inset 0 -2px palette.$grey_bg;
}

.btn-danger {
  background: palette.$danger;
  border-bottom: 2px solid palette.$transparent_bg;
  box-shadow: inset 0 -2px palette.$transparent_bg;
}

.btn-alert {
  margin-top: 10px;
  background: palette.$orange;
  border-bottom: 2px solid palette.$orange_bg;
  box-shadow: inset 0 -2px palette.$orange_bg;
}

.btn-purple {
  background: palette.$purple;
  border-bottom: 2px solid palette.$purple_bg;
  box-shadow: inset 0 -2px palette.$purple_bg;
}

.btn-success {
  background: palette.$grass_bg;
  border-bottom: 2px solid palette.$success;
  box-shadow: inset 0 -2px palette.$success;
}

// Event buttons
.btn-event {
  background: linear-gradient(180deg, #131417 0%, #3826a8 100%);
  border-bottom: 2px solid #492bff;
  box-shadow: inset 0 -2px #492bff;
}

// Socials
.btn-social {
  display: inline-block;

  height: 45px;
  width: 45px;

  font-size: large;

  border: none;
  border-radius: 12px;

  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}

#link-social {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 9999;
  transition: 300ms;

  &:hover {
    transform: rotate(4deg);
  }
}

.btn-twitter {
  background-image: url("/img/socials/x.svg");
}

.btn-telegram {
  background-image: url("/img/socials/telegram.svg");
}

.btn-discord {
  background-image: url("/img/socials/discord.svg");
}
.btn-assets {
  background-image: url("/img/socials/assets.svg");
  width: 150px;
  height: 45px;
}

.btn-bind {
  display: flex;
  font-size: 14px;
  margin-inline: 2.5%;
  width: 45%;

  &.active {
    outline: 5px solid palette.$blue;
  }
}

.rules-close-btn {
  position: absolute;
  transform: translate(150px, 6px);
  width: 25px;
  height: 25px;
  z-index: 10;
  text-align: center;
  border-radius: 50%;
  background-color: palette.$danger;
  cursor: pointer;
}

.btn-spectate-kill-leader {
  background: palette.$orange;
  border-bottom: 2px solid palette.$orange_bg;
  box-shadow: inset 0 -2px palette.$orange_bg;
}
