@use "palette.scss";

@use "utils/scrollbar.scss";
@use "utils/buttons.scss";
@use "utils/inputs.scss";
@use "utils/fonts.scss";
@use "modal.scss";
@use "variables.scss";
@use "tasks.scss";

* {
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100vh;
}

body,
p,
input,
button,
select {
  font-family: "Inter", sans-serif;
  font-size: 16px;

  color: #ffffff;
}

body {
  overscroll-behavior: none;
}

::placeholder {
  font-family: "Inter", sans-serif;
}

a,
a:visited {
  color: palette.$blue;
  text-decoration: none;
}

#weapon-info {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  font-size: 0.5em;
  padding: 8px;

  // text style
  .stat-type {
    margin: 0;
    font-size: 14px;
    opacity: 0.8;

    @media screen and (max-width: variables.$screen_xsmall) {
      font-size: 12px;
    }
  }

  .stat-value {
    font-size: 14px;
    font-weight: 600;

    @media screen and (max-width: variables.$screen_xsmall) {
      font-size: 11px;
    }
  }

  // title
  .weapon-title {
    padding-left: 8px;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 8px;
    color: white;

    @media screen and (max-width: variables.$screen_xsmall) {
      font-size: 14px;
    }

    &-state {
      font-size: 14px;
      color: palette.$lime;
    }
  }

  // weapon style
  .row-stats {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3px;
    overflow: hidden;
    border-radius: 8px;

    @media screen and (max-width: variables.$screen_xsmall) {
      display: flex;
      flex-direction: column;
      gap: 2px;
      border-radius: 4px;
    }

    .row-section {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 4px;

      background: palette.$grass_bg;
      padding: 8px;
    }
  }

  // solo style
  .child-section {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 3px;
    border-radius: 6px;

    background: palette.$grass_bg;
    padding: 8px;
  }
}

#vehicle-health-bar-container {
  background: palette.$transparent_bg;
  border: 4px solid palette.$transparent_bg;
  border-radius: 4px;
  position: relative; // Change to relative
  width: 200px;
  height: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0.8;

  @media screen and (max-width: variables.$screen_large) {
    width: 98px;
    height: 15px;
    border-width: 3px;
  }

  @media screen and (max-width: variables.$screen_medium) {
    width: 49px;
    height: 8px;
    border-width: 2px;
    border-radius: 2px;
  }

  #vehicle-health-bar,
  #vehicle-health-bar-animation {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 2px;
    height: 100%;
    width: 100%;

    @media screen and (max-width: variables.$screen_medium) {
      border-radius: 1px;
    }
  }

  #vehicle-health-bar {
    background-color: palette.$light;
    transition: width ease-in-out 50ms;
  }

  #vehicle-health-bar-animation {
    opacity: 50%;
    background: #ff0000;
  }

  #vehicle-health-bar-amount {
    color: #000000;
    font-size: 10px;
    z-index: 1;
    margin-left: 4px;

    @media screen and (max-width: variables.$screen_large) {
      font-size: 7px;
    }

    @media screen and (max-width: variables.$screen_medium) {
      font-size: 4px;
      font-weight: 600;
      margin-left: 2px;
    }
  }

  #vehicle-health-bar-max {
    z-index: 1;
    color: #888;
    font-size: 7px;
    margin-right: 4px;

    @media screen and (max-width: variables.$screen_large) {
      font-size: 5px;
    }
  }

  .flashing {
    animation: 0.5s ease-in-out 0.5s infinite flashing;
  }
}

#vehicle-speed-bar-container {
  background: palette.$transparent_bg;
  border-radius: 2px;
  position: relative;
  width: 200px;
  height: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  opacity: 0.8;

  @media screen and (max-width: variables.$screen_large) {
    width: 98px;
    height: 7px;
  }

  @media screen and (max-width: variables.$screen_medium) {
    width: 49px;
    height: 4px;
    border-radius: 1px;
  }

  #vehicle-speed-bar {
    transition: width ease-in-out 50ms;
    border-radius: 2px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}