@use "palette.scss";

@use "utils/scrollbar.scss";
@use "utils/buttons.scss";
@use "utils/inputs.scss";
@use "utils/fonts.scss";
@use "modal.scss";
@use "variables.scss";

* {
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100vh;
}

body,
p,
input,
button,
select {
  font-family: "Inter", sans-serif;
  font-size: 16px;

  color: #ffffff;
}

body {
  overscroll-behavior: none;
}

::placeholder {
  font-family: "Inter", sans-serif;
}

a,
a:visited {
  color: palette.$blue;
  text-decoration: none;
}

#weapon-info {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  font-size: 0.5em;
  padding: 8px;

  // text style
  .stat-type {
    margin: 0;
    font-size: 14px;
    opacity: 0.8;

    @media screen and (max-width: variables.$screen_xsmall) {
      font-size: 12px;
    }
  }

  .stat-value {
    font-size: 14px;
    font-weight: 600;

    @media screen and (max-width: variables.$screen_xsmall) {
      font-size: 11px;
    }
  }

  // title
  .weapon-title {
    padding-left: 8px;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 8px;
    color: white;

    @media screen and (max-width: variables.$screen_xsmall) {
      font-size: 14px;
    }

    &-state {
      font-size: 14px;
      color: palette.$lime;
    }
  }

  // weapon style
  .row-stats {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3px;
    overflow: hidden;
    border-radius: 8px;

    @media screen and (max-width: variables.$screen_xsmall) {
      display: flex;
      flex-direction: column;
      gap: 2px;
      border-radius: 4px;
    }

    .row-section {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 4px;

      background: palette.$grass_bg;
      padding: 8px;
    }
  }

  // solo style
  .child-section {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 3px;
    border-radius: 6px;

    background: palette.$grass_bg;
    padding: 8px;
  }
}
