@use "utils/scrollbar.scss";
@use "./palette.scss";
@use "variables.scss";

$spacing: 16px;
$transition: all 0.3s ease;

.minted-item-image.rotated {
  transform: rotate(90deg);
}

.minted-items-alert {
  position: fixed;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  background: #0000009d;
}

.minted-items-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 75%;
  max-width: 800px;
  border-radius: 12px;
  gap: 24px;
  color: palette.$light; // Ensure text is readable against $modal-bg
  background-color: palette.$grass_bg;
  padding: 24px;
}

.minted-items-header {
  font-size: 20px;
  font-weight: bold;
  color: palette.$light;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.minted-items-body {
  display: flex;
  align-items: center;
  gap: $spacing;
  justify-content: center;
}

.minted-items-body i {
  font-size: 20px;
  color: #28a745;
  margin-bottom: calc($spacing / 2);
}

.minted-items-close {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 24px;
  color: palette.$light; // Changed from $gray to contrast with $primary-bg
  transition: $transition;

  &:hover {
    color: palette.$orange;
  }
}

.minted-items-grid {
  display: grid;
  overflow-y: auto;
  grid-template-columns: repeat(auto-fit, minmax(100px, auto));
  max-width: calc(122px * 5 + 48px); // 5 items with 12px gap
  max-height: 300px;
  gap: 12px;
  justify-content: center;
  align-items: center;

  &::-webkit-scrollbar {
    width: 10px;

    &-track {
      background: #ffffff35;
      border-radius: 10px;
    }

    &-thumb {
      background: #ffffffaa;
      border-radius: 10px;
    }
  }
}

.minted-item {
  background-image: url("./img/game/shared/patterns/silver.svg"); // Use the background image
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 12px;
  overflow: hidden;
  transition: $transition;

  img {
    width: 100%;
    height: 100%;
  }

  .balance {
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 14px;
    font-weight: bold;
    color: #fdd842;
    background-color: #fdd84240;
    padding: 2px 8px;
    border-radius: 6px;
    backdrop-filter: blur(10px);
  }
}

.no-items {
  color: palette.$light;
  font-size: 18px;
  padding: $spacing;
}

.minted-item img {
  background-size: cover;
  background-repeat: no-repeat;
  padding: 16px;
}

.view-on-explorer {
  display: inline-block;
  padding: 10px 16px; // Increased vertical padding from 8px to 10px
  background-color: palette.$orange;
  color: palette.$light;
  text-decoration: none;
  border-radius: 10px;
  font-size: 14px;
  transition: $transition;
  padding-bottom: 10px;
  font-weight: 600;
  border-bottom: 3px solid palette.$orange_bg;

  &:hover {
    background-color: palette.$orange_bg;
    border-bottom: 3px solid palette.$reddit_bg;
  }
}

// rewards modal

.rewards-modal-overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #0000009d;
}

#rewards-modal {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  width: 370px;
  border-radius: 12px;

  @include variables.mobile-device {
    transform: translate(-50%, -50%) scale(0.75);
  }

  .dialog-header {
    width: 370px;
    height: 170px;
    // background-image: url("./img/game/shared/patterns/green_rewards_banner.svg");

    .dialog-close-btn {
      position: absolute;
      top: 0px;
      right: 0px;
      font-size: 24px;
      color: palette.$light;
      cursor: pointer;
      transition: $transition;
      box-shadow: 0 0 0 1px transparent;

      &:hover {
        transform: rotate(15deg);
      }
    }
  }
  .rewards-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 20px 32px 32px 32px;
    gap: 20px;
    background-color: rgba(0, 0, 0, 0.65);
    backdrop-filter: blur(10px);

    .rewards-header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 4px;

      &-title {
        margin: auto;
        font-family: Survivant;
        font-size: 24px;
        font-style: normal;

        background: linear-gradient(
          180deg,
          #f2770f 0%,
          #ffd23a 50%,
          #fde57d 100%
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      &-subtitle {
        margin: auto;
        font-size: 14px;
        font-style: normal;
        color: #9c9b99;
      }
    }
    .rewards-title {
      margin: 0;
      font-size: 16px;
      font-weight: 600;
    }
    .rewards-amount {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 12px;
      p {
        margin: 0px;
        font-size: 32px;
        font-weight: bold;
        color: white;
      }
      img {
        width: 36px;
        height: 36px;
      }
    }

    a:visited {
      color: white;
    }

    #share-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;

      img {
        width: 16px;
        height: 16px;
      }
    }
  }
}
