$screen_xsmall: 480px;
$screen_small: 640px;
$screen_medium: 880px;
// $screen_medium: 768px;
$screen_large: 1280px;

@mixin mobile-device {
  @media screen and (max-height: $screen_xsmall) and (max-width: $screen-large) {
    @content;
  }
}

@mixin text-shadow {
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
}

@mixin drop-shadow {
  filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.6));
}

@mixin active {
  opacity: 1;
}

@mixin modal-basic {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 350px;
  border-radius: 8px;
  padding: 12px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.45);
}
